@font-face {
  font-family: Stencil;
  src: url(../font/Stencil-Moonlight-LT-Std.ttf);
}
@font-face {
  font-family: Mont;
  src: url(../font/montserrat-medium.ttf);
}
@font-face {
font-family: archivo;
src: url(../font/ArchivoBlack-Regular.ttf);
}

body{
  margin: 0;
  position: relative;
  font-family: Mont;
  justify-items: center;
  background-color: black;
  /* overflow-x: hidden; */

}


header{
    position: sticky;  
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0px 20px;
    background-color: #2D301C;
    top: 0;
    font-family: Mont;
    border-bottom: #BDB89A solid 3px;
    z-index: 7;
}
nav{
  width: inherit;
}
nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 15px;
    text-align: center;
    gap: 7%;
    justify-content: center;
}


nav .item-nav a, nav .navbar-mobile-opcoes-lista span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;

  color: #BDB89A;
}
.seta-dropdown-nav{
  width: 15px!important;
  transition: 500ms;

}
nav .item-nav #social-media-dropDown-icone.seta-acionada{
  transform: rotate(180deg);


}
.li-dropDown{
  position: relative;
}
.li-dropDown #midia-icones-container.mostrar{
  position: absolute;
  
  top: 130%;
  /* left: 75%; */
  opacity: 1;
  pointer-events: all;
  
}

.li-dropDown #midia-icones-container{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 500ms;
  width: 100%;
  /* width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border: 1px solid #BDB89A;
  background-color: #2D301C;
  pointer-events: none;
  
}

nav .item-nav #midia-icones-container *{
  width: 35px;
  padding: 5px;

  
}

nav .hamburguer li{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#dropdown{
  display: none;
}
#dropdown div img{
  margin-top: 10px;
  width: 100px;

}
.navbar-mobile-opcoes-lista{
  display: none;

}

header li{
    margin-top: 25px;
    transition: transform 0.3s ease;
    font-size: 18px;
    cursor: pointer;


}
header .item-nav:not(.li-dropDown):hover{
    color: #BDB89A;
    transform: scale(1.2);

}
a{
    color: #BDB89A;
    text-decoration: none;
  
}
header figure img, footer figure img{
    width: 150px;
}
footer figure img{
  width: 150px;

}

.separeitor{
  border: solid #BDB89A 1px;
  margin-top: 25px;
}

footer {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  
    background-color: #2d301c;
    font-family: Mont;
  }
  footer ul h3{
    color: #BDB89A;
  }
  footer .sociais{
    display: flex;
    gap: 20px;
    text-align: center;
    
  }
  footer .sociais img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  footer .sociais div{
    width: 50px;
    height: 50px;
    background-color: #525437;
    
  }
  footer .listas{
    display: flex;
  }
  footer ul{
    list-style-type: none;
  }
  footer .listas img{
    width: 15px;
    margin-right: 5px;
    
  }
  footer li{
    margin-top: 25px;
    transition: transform 0.3s ease;
    font-size: 18px;
    padding-right: 20px;
  }
  footer .fast-link img{
    width: 20px;

  }
  footer a:hover{
    color: #525437;
  }
  
  /* Mobile */
  @media (max-width: 700px) {
    header{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    header li:nth-child(1){
      margin-top: 0;
    }
    
    header figure.nav-logo img{
      width: 135px!important;
    }

    nav ul{
     
      display: flex;
      justify-content: right;
   
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      cursor: pointer;
    }
    .navbar-mobile-opcoes-lista{
      padding: 25px;
      border-bottom: #BDB89A solid 3px;
    }
    .navbar-mobile-opcoes-lista li a{
      font-size: 1.3rem;
      border-bottom: 3px solid #BDB89A;
    }
    

    nav .hamburguer{
      position: absolute;
      top: 0;
      right: 0;
    }
    nav .hamburguer img{
      width: 50px;

    }
    header nav ul .item-nav{
      display: none!important;
      
    }
    #dropdown{
      position: inherit;
      display: block!important;
      
      
    }

    .navbar-mobile-opcoes-lista{
      position: absolute;
      top: -100%;
      right: 0;

      display: block;
      width: 100vw;
      background: rgba(0, 0, 0, 0.541);
      font-size: 25px;
      opacity: 0;
      pointer-events: none;
      transition: 500ms;

    }
    .navbar-mobile-opcoes-lista.invisivel{
      top: 100%;
      opacity: 1;
      pointer-events: all;

    }
    footer{
      display: flex;
      flex-direction: column;
    }

    footer .listas{
      display: flex;
      flex-direction: column;
    }
    

    
  }
