@media (min-width:701px) and (max-width: 1580px) {
  .section-shield {
    height: 470px !important;
  }

  .section-about-us article h2 {
    font-size: 50px !important;

  }

  .section-about-us article p {
    width: 80% !important;
    font-size: 15px !important;
  }

}
@media (max-width: 700px) {
  .section-shield{
    background-size: 300%!important;
    min-height: 1300px!important;
    justify-content: center;
  }
  .section-shield #titulo{
    margin-top: 35%;
  }
  .section-shield h1 {
    font-size: 150px!important;
    line-height: 130px!important;
  
  }
  .section-shield p{
    font-size: 50px;
    width: 300%
  }
  .section-shield button{
    font-size: 40px!important;
    width: 25%!important;
  }
  .section-usability{
    height: 1900px!important;
  }
  .card{
    display: grid!important;
    grid-template-rows: 1fr 1fr;
  }
  .flip-card{
    min-width: 500px!important;
    height: 571px!important; 
  }
  .section-usability h2 {
    font-size: 50px;
  
  }
  .section-usability p{
    font-size: 35px;
    margin-top: 10%!important;
  }

  
}
.section-shield {
  padding-top: 10px;
  background-image: url(../img/teste-fundo-site-alta-qualidade.png);
  height: 650px;
  background-size: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1195px;
}

.section-shield h1 {
  font-size: 90px;
  font-family: Stencil;
  font-weight: lighter;
  margin: 0;
  line-height: 80px;
  width: 10%;

}

.section-shield p {
  font-family: Mont;
  margin-top: 0;
}

#titulo {
  border: solid red 0px;
  width: 25%;
  margin-left: 170px;
  margin-top: 160px;
  color: #2D301C;


}

#botao {
  margin-left: 170px;
  margin-top: 20px;

}

button {
  background: none;
  font-family: Mont;
  margin-right: 10px;
  width: 120px;
  border: #fff solid 2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #2D301C;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

main .section-shield button:hover {
  background-color: #fff;

}

.section-usability {
  background-color: #2D301C;
  width: 99.7%;
  height: 700px;
  border: #BDB89A solid 3px;
  background-size: 100%;
  text-align: center;
  background-image: url(../img/fundo-usability.png);
  color: #BDB89A;
  box-shadow: rgba(10, 10, 10, 1) 0px 7px 29px 0px;
  min-width: 1195px;
}

.section-usability h2 {
  margin-top: 30px;
  font-size: 50px;

}

.card img {
  width: 100%;
  border-radius: 20px;
  height: 100%;

}

.flip-card {
  background-color: transparent;
  min-width: 300px;
  height: 371px;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  box-shadow: rgba(10, 10, 10, 0.2) 0px 7px 29px 0px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

.card {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 10%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}

.flip-card-back {
  background-color: #515437;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  width: 90%;
  margin-top: 35%;
  margin-left: auto;
  margin-right: auto;
}

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.containe {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.section-training {
  text-align: center;
  background-color: #525437;
  position: relative;
  overflow: hidden;
  height: 590px;
  min-width: 1195px;

}

.section-training p {
  width: 30%;
  font-size: 30px;
  font-family: Mont;
  margin-left: auto;
  margin-right: auto;
  color: #BDB89A;
}

.section-training h2 {
  font-family: Stencil;
  font-weight: lighter;
  font-size: 80px;
  color: #BDB89A;

}

.section-training button {
  margin-top: 1.5%;
  background-color: #2D301C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 7%;
  padding: 15px;
  box-shadow: rgba(10, 10, 10, 1) 0px 7px 29px 0px;
  transition: transform 0.3s ease;

}

.section-training button:hover {
  transform: scale(1.2);
  background-color: #888e66;
}

.section-about-us {
  background-image: url(../img/bandeira\ site\ usa\ about\ us.png);
  background-size: 100%;
  width: 99.7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: #BDB89A solid 3px;
  max-height: 576px;
  min-width: 1195px;

}

.section-about-us figure {
  width: 100%;
  max-height: 576px;
}

.section-about-us figure img {
  width: 78%;
  margin-left: 26%;


}

.section-about-us article {
  font-family: archivo;
  background-color: #2d301c;
  width: 90%;
  max-height: 576px;
  color: #BDB89A;
  text-align: center;
  box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);

}

.section-about-us article h2 {
  font-size: 120px;
  margin-top: 5%;

}

.section-about-us article p {
  text-align: justify;
  width: 85%;
  font-family: Mont;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}

